<main>
    <figure class="photo-container">
        <img src="./assets/images/marlon-profile.jpg" alt="" class="photo">
    </figure>
    <section class="profile-container" *ngFor="let dado of dados">
        <figure class="btn-container">
            <div appProfileInvert>&#10162;</div>
        </figure>
        <article class="profile"  id="{{ dado.id }}">
            <h1 class="profile-title"> {{ dado.title }}</h1>
            <br>
            <p class="profile-content" appProfileContent *ngFor="let detail of dado.details">{{ detail.info }}</p>
        </article>
    </section>
    <aside class="square-container">
        <img src="./assets/images/html.png" alt="html">    
        <img src="./assets/images/css.png" alt="css">    
        <img src="./assets/images/js.png" alt="javascript">    
        <img src="./assets/images/ts.png" alt="typescript">    
    </aside>
    <aside class="square-container">
        <img src="./assets/images/sql.svg" alt="sql">    
        <img src="./assets/images/node.png" alt="nodejs">    
        <img src="./assets/images/angular.png" alt="angular2+">    
        <img src="./assets/images/firebase.png" alt="firebase">    
    </aside>
</main>
